body    {
    background-color: #d3d3d3;
    color: #000000;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
#main   {
    margin: 30px 8px;
    border-radius: 5px;
    padding: 15px;
    background: #eeeeee;
}
#title   {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin: auto;
    padding: 0%;
    padding-top: 3%;
}
h4  {
    font-weight: 100;
    font-size: 16px;
    text-align: center;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}
#img-div    {
    background-color: #ffffff;
    width: 100%;
    margin: auto;
    padding bottom: 3%
    position: relative;
}
#image  {
    width: 50%;
    margin: auto;
    padding-left: 25%;
    padding-bottom: 1%;
    padding-top: 2%;
}
#img-caption    {
    font-size: 14px;
    font-weight: 100;
    margin: auto;
    text-align: center;
    padding: 1%;
    
}
ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
li{
    margin: 16px 0;
}
span    {
    font-weight: bold;
}
blockquote  {
    font-style: italic;
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
h3  {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    
}