body    {
    font-family: sans-serif;
    line-height: 1.4;
    background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
select:invalid { color: gray; }

#title {
    margin: auto;
    padding-top: 3%;
}
.center {
    text-align: center;
}
#desription {
    margin: auto;
    padding: 10% 2%;
}
.formGroup {
   
    text-align: center;
    margin: auto;
    display: ;
}
#surveyForm {
    background-color: #191970;
    opacity: 0.7;
    border-radius: 1%;
}
#email {
    text-align: center;
    width: 50%;
    height: 2em;
    border-radius: .25em;
    line-height: 1.25em;
}
#name {
    width: 50%;
    height: 2em;
    border-radius: .25em;
    line-height: 1.25em;
    
}
#age {
    width: 50%;
    height: 2em;
    border-radius: .25em;
    line-height: 1.25em;
}
#dropDown {
    width: 50%;
    height: 2em;
    border-radius: .25em;
    line-height: 1.25em;
}
#mostLike {
    width: 50%;
    height: 2em;
    border-radius: .25em;
    line-height: 1.25em;
}
#.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}
#com {
    width: 50%;
    height: 2em;
    border-radius: .25em;
    line-height: 1.25em;
}
div {
    text-align: center;
}
#sub {
    width: 50%;
    height: 2em;
    border-radius: .25em;
    color: #228b22;
}