@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
body    {
    background-image: url(http://media2.govtech.com/images/770*1000/shutterstock_computer_programming.jpg);
    background-color: blue, blueviolet;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
select:invalid { color: gray; }
